[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  VITE_SITE_URL = "https://smkkrisma.sch.id"
  VITE_API_URL = "https://smk-kristen5-website.vercel.app"
